<!-- Content -->
  <section id="content">
    <h3>Board Members</h3>
    <%= image_tag("avi.jpg", class: "image left") %>
    <h4>Avi Fuld, President, International</h4>
    <p>As one of the original founders of Netivot, Avi has spent countless hours dedicated to Netivot's success, including heading finances and collaborative events. Avi is excited to take Netivot to the next level by overseeing the whole operation as well as creating a Brooklyn branch.</p>
    <br />
    <%= image_tag("israel-path.jpg", class: "image left") %>
    <h4>Zahava Stern, Vice President, International; President, Boston</h4>
    <p>As one of the original founders, Zahava has worked on every aspect of Netivot's wonderful events, including maintaining the website and creating graphics. In addition to VP of the international board, Zahava is excited to be the first official president of the local Boston board.</p>
    <br />
    <%= image_tag("israel-path.jpg", class: "image left") %>
    <h4>Morris Alper, Public Relations, International</h4>
    <p>Even if you haven't yet met Morris in person, you likely have experienced him online. As one of the original founders Morris has been crucial to both the creation and growth of Netivot by not only inviting everyone to the very first meet-up, but also by heading every meeting since. Morris is excited about starting a new chapter in Tel Aviv.</p>
    <br />
    <%= image_tag("israel-path.jpg", class: "image left") %>
    <h4>Bess Beller-Levesque, Treasurer and Secretary, International; Treasurer, Boston</h4>
    <p>Bess has been with Netivot since its creation, hosting Shabbat dinners on a consistent basis, always with a warm and welcoming smile. Her positive attitude and organizational skills are essential for Netivot's current transition and growth.</p>
    <br />
    <%= image_tag("kristin.jpg", class: "image left") %>
    <h4>Kristin Ruben, Webmaster, International</h4>
    <p>Since attending her first Shabbat dinner in 2015, Kristin fell in love with Netivot and was hooked for life. She's excited to use her new programming skills to re-vamp the Netivot website and give it a well-deserved make-over.</p>
    <br />
    <%= image_tag("israel-path.jpg", class: "image left") %>
    <h4>Andy Rosenbaum, Shabbat Coordinator, Boston</h4>
    <p>As a new Netivot member, Andy is excited to dive into the heart of the Netivot experience - Shabbat dinners - and make them the best they can be.</p>
    <br />
    <%= image_tag("israel-path.jpg", class: "image left") %>
    <h4>Shira Frager, Secretary, Boston</h4>
    <p>As a new addition to the community, Shira is looking forward bringing her experiences and skills to Netivot.</p>
    <br /><br /><br />
    <%= image_tag("israel-path.jpg", class: "image left") %>
    <h4>Sara Fried, Education Chair, Boston</h4>
    <p>Sara will be continuing her role as Netivot's education chair, adding to her previous events, such as the discussion with Rabbi Rapoport and Netivot Network's launch event.</p>
  </section>
