<section id="content">
  <h3>Resources</h3>
  <p> <%= link_to('Keshet', 'http://www.keshetonline.org/') %> - Jewish LGBT organization in Boston and San Francisco</p>
  <p> <%= link_to('JQYouth', 'http://www.jqyouth.org/') %> – Orthodox LGBT Youth organization based in New York</p>
  <p> <%= link_to('Eshel', 'http://www.eshelonline.org/') %> – National Orthodox LGBT organization
  <p> <%= link_to('Yeshiva Inclusion Project (YIP)', 'https://yeshivainclusionproject.org/') %> – resource for LGBT Orthodox students applying to Israel gap year programs
  <p> <%= link_to('Or Chayim', 'https://orchayim.org/') %> – minyan for unaffiliated, traditional and Orthodox LGBTQ Jews located in New York City’s Upper West Side</p>
</section>
